h1{
    text-align: center;
    color: #7ea036;
}
h2{
    color: #d69629;
}
h3{
    color: #b6d46a;
}

.hello h3{
    color: #7ea036;
}
.hello{
    margin: 0 auto;
}
.navbar{
    border: 15px ridge #b6d46a;
    
    width: 80%;
    margin: 50px auto;
}
.nav{
    height: 100%;
    border: 1px solid #e9c458; 
}
.nav-link{
    border: 1px solid #e9c458;
    height: 4rem;
    color: #80ab25;
}

.cadre{
    margin-top: 180px;
}
.contain{
    padding: 20px;
    width: 40%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hello h4{
    color: #e9c458;
}
.hello{
    text-align: center;
}
.hello .btn{
    margin-top: 20px;
}
.dropdown-item{
    border: 1px solid #e9c458;
    color: #80ab25;
}
form textarea{
    width: 80%;
}

ul{
    list-style-type: none;
}
.tableau{
    width:80%;
}
.sousTotal{
    text-align: right;
}
.titre{
    text-align: center;
    border: 1px solid black;
}

[draggable] {
    user-select: none;
    -webkit-user-drag: element;
    cursor: move;
}
.sortable tr:hover { 
    border: 2px dashed #fbdc9e;
}

.form-group{
    display: inline-block;
    margin-left: 20%;
}
.divButton{
    width: 25%;
    margin: 20px auto;
}
.divButtonEditCctp{
    width: 40%;
    margin: 0 auto;
}
.divButtonEditCctp form{
    display: inline;
}
.divButtonCctp{
    display: inline;
    text-align: center;
}
.divButtonCctp a{
    width: 15%;
    margin-left: 7%;
    
}

.divButton form{
    display: inline;
}
.btnShow form{
    display: inline;
}
.divForm {
    display: inline;
}
.divForm form{
    width: 45%;
    display: inline;
}
.formBorder{
    border: 1px solid green;
    margin-left: 20px;
    padding: 10px;
}
.titreExel{
    text-align: center;
}

.formProd{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.listProd1{
    width: 30%;
    background-color:darkseagreen;
    float:left;
    padding: 5px;
    margin: 5px;
}
.listProd2{
    width: 30%;
    background-color: #f5b63a;
    float:left;
    padding: 5px;
    margin: 5px;
}
.listProd3{
    width: 30%;
    background-color:bisque;
    float:left;
    padding: 5px;
    margin: 5px;
}
.listProd4{
    width: 30%;
    background-color:bisque;
    float:left;
    padding: 5px;
    margin: 5px;
}
.listProd5{
    width: 30%;
    background-color:bisque;
    float:left;
    padding: 5px;
    margin: 5px;
}
.listProd6{
    width: 30%;
    background-color:bisque;
    float:left;
    padding: 5px;
    margin: 5px;
}
.aligner{
    float: right;
}
.green{
    color: red;
    font-size: 1rem;
}
.canvas{
    width: 50%;
    margin: 0 auto;
}
div.inline { float:left; }
.clearBoth { clear:both; }




